FLASK_SECRET_KEY=anyrandomtext12345
GOOGLE_CLIENT_ID=620101165191-a07oe8vhiokkgsbr81thdgvk3cma4pjb.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
EMAIL_SENDER=khushiyewale150@gmail.com
EMAIL_PASSWORD=aweejzlvecclpopp
ADMIN_USERNAME = "admin"
ADMIN_PASSWORD = "choose-a-strong-password"   # change this
DB_SERVER=103.159.239.101
DB_NAME=nrpaytrack
DB_USER=nrpaytrackuser
DB_PASSWORD=u8z6mM5_7ycx