<!-- Topbar Start -->
    <div class="container-fluid d-none d-lg-block">
        <div class="row align-items-center py-4 px-xl-5">
            <div class="col-lg-3">
                <a href="{{ url_for('home') }}" class="text-decoration-none">
                    <img src="{{ url_for('static', filename='img/WhatsApp Image 2026-07-28 at 2.14.08 PM.jpeg') }}" alt="CampusConnect AI" style="max-height: 200px; padding: 0px 0;">
                </a>
            </div>
            <div class="col-lg-3 text-right">
                <div class="d-inline-flex align-items-center">
                    <div class="text-left">
                        <h6 class="font-weight-semi-bold mb-1">Our advertiser</h6>
                    </div>
                </div>
            </div>
        <div class="col-lg-6">
    <div class="ad-marquee-wrap">
        <div class="ad-marquee-track">
            <img src="{{ url_for('static', filename='img/logos/ghrce-logo-box.png') }}" alt="GHRCE">
            <img src="{{ url_for('static', filename='img/logos/ycce-logo-box.png') }}" alt="YCCE">
            <img src="{{ url_for('static', filename='img/logos/rcoem-logo-box.png') }}" alt="RCOEM">
            <img src="{{ url_for('static', filename='img/logos/ghrce-logo-box.png') }}" alt="GHRCE">
            <img src="{{ url_for('static', filename='img/logos/ycce-logo-box.png') }}" alt="YCCE">
            <img src="{{ url_for('static', filename='img/logos/rcoem-logo-box.png') }}" alt="RCOEM">
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">
            <div id="citySection" class="col-lg-3 d-none d-lg-block">
                <a class="d-flex align-items-center justify-content-between bg-secondary w-100 text-decoration-none" data-toggle="collapse" href="#navbar-vertical" style="height: 67px; padding: 0 30px;">
                    <h5 class="text-primary m-0"><i class="fa fa-city mr-2"></i>City</h5>
                    <i class="fa fa-angle-down text-primary"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 9;">
                    <div class="navbar-nav w-100">
                        <div class="nav-item dropdown">
                        </div>
                        <a href="" class="nav-item nav-link">Nagpur</a>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9 registration-navbar">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="{{ url_for('home') }}" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0"><span class="text-primary">CAMPUS</span>CONNECT AI</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
                    <div class="navbar-nav py-0 mx-auto justify-content-center">
                        <a href="{{ url_for('home') }}" class="nav-item nav-link {% if request.endpoint == 'home' %}active{% endif %}">Home</a>
                        <a href="{{ url_for('about') }}" class="nav-item nav-link {% if request.endpoint == 'about' %}active{% endif %}">About</a>
                        <a href="{{ url_for('career') }}" class="nav-item nav-link {% if request.endpoint == 'career' %}active{% endif %}">Career</a>
                        <a href="{{ url_for('advertisement') }}" class="nav-item nav-link {% if request.endpoint == 'advertisement' %}active{% endif %}">Advertisement</a>
                        <a href="{{ url_for('contact') }}" class="nav-item nav-link {% if request.endpoint == 'contact' %}active{% endif %}">Contact</a>
                    </div>
                        <a id="registrationBtn"
                        class="btn btn-primary py-2 px-4 ml-auto d-none d-lg-block"
                        href="{{ url_for('registration') }}" target="_blank">
                        Campus Registration
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->